body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fbcfe8, #c7d2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 8px;
  margin-top: 6px;
  border-radius: 5px;
}

li span {
  flex: 1;
  margin-left: 10px;
}

input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}


